@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  line-height: 1;
  min-height: 100%;
  color: #383838;
  text-rendering: optimizeLegibility;
  background: transparent;
}

input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

ul,
li {
  list-style: none;
}

.v-application a {
  text-decoration: none !important;
  height: 100% !important;
}

.v-bottom-navigation {
  position: fixed !important;
  width: 100% !important;
  z-index: 100;
  height: 49px !important;
}

.v-item-group.v-bottom-navigation .v-btn.v-btn--active .v-btn__content {
  color: #397ed6 !important;
}

.v-item-group.v-bottom-navigation {
  justify-content: space-evenly !important;
}

.v-application ol,
.v-application ul {
  padding-left: 0 !important;
}

.v-dialog:not(.v-dialog--fullscreen) {
  overflow: scroll !important;
}

.v-parallax__image-container {
  height: 210px !important;
}

.v-item-group.v-bottom-navigation .v-btn .v-btn__content > :not(.v-icon) {
  line-height: 0.7 !important;
  font-weight: bold !important;
}

.v-bottom-navigation .mdi:before,
.v-bottom-navigation .mdi-set {
  font-size: 30px !important;
}

.v-bottom-navigation .v-ripple__container {
  display: none !important;
}

.v-bottom-navigation .v-btn:before {
  content: none !important;
}

#mypage .container {
  padding: 0 !important;
}

#mypage .v-card {
  box-shadow: none !important;
}

#mypage .v-application--wrap {
  background-color: #fff !important;
}

#mypage .v-item-group {
  margin-bottom: 10px !important;
}

#mypage .v-input--selection-controls {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

#mypage .v-input__slot {
  margin-bottom: 0 !important;
}

#mypage .v-messages {
  display: none;
}

#mypage .v-input--switch__thumb {
  width: 28px;
  height: 28px;
  top: calc(50% - 14px);
}

#mypage .v-input--selection-controls__ripple:before {
  content: none;
}

#mypage .v-input--switch__track {
  border-radius: 8px;
  width: 41px;
  height: 14px;
  left: 4px;
  position: absolute;
  opacity: 0.6;
  right: 2px;
  top: calc(50% - 7px);
}

#mypage .genre-cap .v-input--checkbox {
  position: absolute;
}

#mypage .genre-cap .v-input--selection-controls__ripple {
  width: 80px;
  height: 80px;
  margin: 0;
  left: 0;
  top: 0;
  z-index: 30;
  transition: all 0s !important;
}

#mypage .genre-cap .v-icon.notranslate {
  opacity: 0;
}

#mypage .genre-cap * {
  width: 80px;
  height: 80px;
  transition: all 0s !important;
}

#mypage label {
  width: 100%;
  color: rgba(0, 0, 0, 0.87);
}

.v-input--selection-controls .v-input__control {
  width: 100% !important;
}

#mypage .v-input--radio-group--column .v-radio:not(:last-child):not(:only-child) {
  padding-bottom: 20px;
  border-bottom: 1px solid #d8d8d8;
  width: 100%;
  margin-bottom: 20px;
}

#mypage .v-input--selection-controls__input {
  position: absolute;
  right: 0;
}

#mypage .v-input--selection-controls__ripple.accent--text,
#mypage .mdi-radiobox-marked,
#mypage .v-input--switch__thumb.theme--light.accent--text {
  color: #397ed6 !important;
  caret-color: #397ed6 !important;
}

.v-tab {
  font-weight: bold !important;
}

.v-tab:before {
  content: none !important;
  background-color: none !important;
}

.main {
  padding-top: 45px;
  padding-bottom: 60px;
}

.inner {
  padding: 0 14px;
}

.btn-wrap {
  margin-top: 30px;
  text-align: center;
}

.btn {
  position: relative;
  background: #ea5b91;
  color: #fff !important;
  border-radius: 8px;
  padding: 15px 0;
  margin: 14px 14px 0 14px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  min-width: 65%;
  box-shadow: 1px 2px 3px #a9a9a9;
}

.btn--arrow {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  right: 10%;
  width: 7px;
  height: 7px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-radius: 1px;
  transform: rotate(45deg) translateY(-50%);
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

[data-photos] {
  position: relative;
}

[data-photos] img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

[data-photos] img:not(:nth-child(1)) {
  display: none;
}

.key {
  position: relative;
  height: 210px;
  background: linear-gradient(to right, #00d2ff, #3a7bd5);
}

.key-inner {
  position: absolute;
  top: 42%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.key h1 {
  font-size: 40px;
  margin-bottom: 20px;
  font-family: "Nico Moji";
}

.key h1,
.key h2 {
  color: #fff;
}

.camera-icon {
  width: 37px;
  position: absolute;
  top: 23%;
  right: 19%;
  transform: rotate(17deg);
}

.camera-icon img {
  width: 100%;
}

.nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  border-top: 1px solid #eaeaea;
  z-index: 50;
  background-color: #f7f7f7;
  height: 45px;
}

.nav-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
}

.nav-link {
  display: block;
  flex: 1;
  text-align: center;
}

.nav-link img {
  width: 28px;
}

.footer {
  margin-top: 50px;
  padding: 14px 0;
  background-color: #fff;
  text-align: center;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  z-index: 100;
  height: 45px;
  background: #fff;
}

.navbar__brand {
  position: absolute;
  left: 10px;
  top: 50%;
  line-height: 45px;
  font-family: "Nico Moji";
  font-size: 20px;
  transform: translateY(-50%);
}

.navbar__menu {
  position: absolute;
  right: 10px;
  top: 50%;
  line-height: 45px;
  font-family: "Nico Moji";
  font-size: 20px;
  transform: translateY(-50%);
}

.login-register {
  margin: 0 24px;
  padding-top: 50px;
}

.login-register .tab {
  display: flex;
}

.login-register .tab__item {
  width: 50%;
  padding: 15px 10px;
  text-align: center;
  font-weight: bold;
}

.login-register .tab__item--active {
  color: #3e3e3e;
  border-bottom: 2px solid #1976d2;
}

.login-register .panel {
  padding: 30px 0;
}

.login-register .panel input {
  width: 100%;
  font-size: 20px;
  padding: 15px 10px 15px 0;
  color: #666;
  font-size: 18px;
  -webkit-appearance: none;
  border-radius: 3px;
  background: #fafafa !important;
}

.login-register .btn {
  width: 90%;
  margin: 40px auto 0 auto;
  font-weight: bold;
  padding: 15px 0;
  font-size: 16px;
}

.inp-wrap {
  margin-bottom: 25px;
}

.inp {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
}

.inp .label {
  position: absolute;
  top: -33px;
  left: 0;
  font-size: 16px;
  color: #5a5a5a;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 0.2s ease;
}

.inp .border {
  position: absolute;
  bottom: -14px;
  left: 0;
  height: 2px;
  width: 100%;
  background: #1976d2;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 0.15s ease;
}

.inp input {
  -webkit-appearance: none;
  width: 100%;
  border: 0;
  font-family: inherit;
  padding: 12px 0;
  height: 48px;
  font-weight: 500;
  border-bottom: 2px solid #c8ccd4;
  background: none;
  border-radius: 0;
  color: #223254;
  transition: all 0.15s ease;
}

.inp input:hover {
  background: rgba(34, 50, 84, 0.03);
}

.inp input:focus + .border {
  transform: scaleX(1);
}

input[value] {
  font-size: 16px !important;
}

::-webkit-input-placeholder {
  font-size: 16px;
}

::-moz-placeholder {
  font-size: 16px;
}

:-ms-input-placeholder {
  font-size: 16px;
}

::-ms-input-placeholder {
  font-size: 16px;
}

::placeholder {
  font-size: 16px;
}

@-webkit-keyframes onAutoFillStart {
}

@keyframes onAutoFillStart {
}

input:-webkit-autofill {
  -webkit-animation-name: onAutoFillStart;
          animation-name: onAutoFillStart;
  transition: background-color 50000s ease-in-out 0s;
}

.grapher-list-wrap {
  background: #f9f9f9;
}

.grapher-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 80px;
  margin-top: -30px;
}

.grapher-photos-wrap {
  position: relative;
}

.grapher-photos-wrap .dots {
  position: absolute;
  bottom: 3px;
  right: 10px;
  z-index: 30;
}

.grapher-photos-wrap .dots span {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
}

.grapher-photos-wrap .dots span:after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: #ccc;
  font-size: 14px;
}

.grapher-photos-wrap .dots span.is-active:after {
  background-color: #387fd7;
}

.grapher-box {
  width: calc(100% - 50% - 7px);
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #eaeaea;
  background-color: #fff;
  margin-right: 14px;
  padding-bottom: 14px;
  margin-bottom: 14px;
}

.grapher-box:nth-child(2n) {
  margin-right: 0;
}

.grapher-box-link {
  position: relative;
  display: block;
  text-decoration: none;
}

.grapher-box-link .btn {
  padding: 8px 0;
  font-size: 14px;
  width: 80%;
}

.my-sns {
  position: absolute;
  top: 5px;
  left: 5px;
}

.my-sns a {
  display: inline-block;
  width: 20px;
}

.my-sns a img {
  width: 100%;
}

.grapher-box-photos {
  position: relative;
  height: 160px;
}

.grapher-box-info {
  padding: 14px;
  text-align: center;
}

.grapher-box-name {
  color: #484e5a;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.grapher-box-pref {
  color: #387fd7;
  font-weight: bold;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

/*詳細*/

.grapher-photos {
  height: 60vh;
}

.grapher-photos img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.grapher-inner {
  margin-top: -20px;
  position: relative;
  padding: 14px 14px 80px 14px;
  border-radius: 10px 10px 0 0;
  width: 100%;
  background-color: #fff;
}

.grapher-okmark {
  position: absolute;
  width: 43px;
  top: 17px;
  right: 14px;
}

.grapher-thumbnail {
  margin-bottom: 25px;
}

.grapher-thumbnail img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.grapher-cap {
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 14px;
}

.grapher-cap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.grapher-name {
  font-size: 20px;
  font-weight: bold;
}

.grapher-base-wrap {
  display: flex;
}

.grapher-base-title {
  font-weight: bold;
}

.grapher-base li {
  display: inline-block;
  background: #797979;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
}

.grapher-block {
  margin-bottom: 50px;
}

.grapher-block-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 14px;
}

.genre-list {
  display: flex;
}

.genre-list .genre-cap {
  position: relative;
  width: 80px;
  height: 80px;
  overflow: hidden;
  margin-bottom: 5px;
  margin-right: 14px;
}

.genre-list .genre-cap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.genre-name {
  font-size: 13px;
  font-weight: bold;
}

/*詳細*/

.grapher-photos {
  height: 60vh;
}

.grapher-photos img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.grapher-inner {
  margin-top: -20px;
  position: relative;
  padding: 14px 14px 80px 14px;
  border-radius: 10px 10px 0 0;
  width: 100%;
  background-color: #fff;
}

.grapher-okmark {
  position: absolute;
  width: 43px;
  top: 17px;
  right: 14px;
}

.grapher-thumbnail {
  margin-bottom: 25px;
}

.grapher-thumbnail img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.grapher-cap {
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 14px;
}

.grapher-cap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.grapher-name {
  font-size: 20px;
  font-weight: bold;
}

.grapher-base-wrap {
  display: flex;
}

.grapher-base-title {
  font-weight: bold;
}

.grapher-base li {
  display: inline-block;
  background: #797979;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
}

.grapher-block {
  margin-bottom: 50px;
}

.grapher-block-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 14px;
}

.genre-list {
  display: flex;
}

.genre-list .genre-cap {
  width: 80px;
  height: 80px;
  overflow: hidden;
  margin-bottom: 5px;
  margin-right: 14px;
}

.genre-list .genre-cap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.genre-name {
  font-size: 13px;
  font-weight: bold;
}

.dm-btn-wrap {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #fff;
  z-index: 100;
  padding: 10px 0;
  text-align: center;
}

.btn--dm {
  margin: 0 auto;
  padding: 14px 0;
  border-radius: 8px;
  background-color: #1da1f2;
  font-size: 14px;
  width: 90%;
}

.btn--dm:after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8%;
  content: "";
  width: 25px;
  height: 21px;
  background: url(/images/twitter_only.svg?16149df84d8726b7af52902fffdbda07) no-repeat;
  background-size: cover;
}

#mypage {
  margin-top: 50px;
  padding-bottom: 80px;
}

#mypage .grapher-cap {
  width: 80px;
  margin: 0 auto 5px auto;
}

#mypage .grapher-name {
  text-align: center;
  margin-bottom: 30px;
}

#mypage .genre-cap img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

#mypage .genre-cap.active img {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.mydata-title {
  font-weight: bold;
  background: #f5f5f5;
  color: #838588;
  padding: 22px 10px 10px 14px;
}

.mydata-content {
  position: relative;
  padding: 20px 14px;
  max-width: 100%;
  overflow: hidden;
}

.mydata-content span {
  padding-right: 10px;
}

.mydata-content--line2 span {
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
}

.mydata--dm .mydata-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.update-btn-wrap {
  margin-top: 0;
  text-align: center;
  background: #fafafa;
  padding-top: 40px;
}

.my-photo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.my-photo .photo {
  position: relative;
  width: 50%;
  height: auto;
  border-bottom: 1px solid #fff;
}

.my-photo .photo:nth-child(2n) {
  border-left: 1px solid #fff;
}

.my-photo .photo:before {
  content: "";
  display: block;
  padding-top: 100%;
  /* ここを100％にすることで正方形になる */
}

.my-photo .photo__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}

.my-photo .photo__wrapper img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.price-col {
  display: flex;
}

.price-col .price-title {
  margin-right: 20px;
  font-weight: bold;
}

.edit-text {
  height: 90vh;
  padding: 20px;
}

textarea,
input {
  width: 100%;
}

.arrow {
  position: relative;
}

.arrow:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 6%;
  width: 10px;
  height: 10px;
  border-top: 2px solid #838588;
  border-right: 2px solid #838588;
  transform: rotate(45deg) translateY(-50%);
}

.page-bar {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

