/*詳細*/
.grapher-photos{
  height: 60vh;
}
.grapher-photos img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grapher-inner{
  margin-top: -20px;
  position: relative;
  padding: 14px 14px 80px 14px;
  border-radius: 10px 10px 0 0;
  width: 100%;
  background-color: #fff;
}

.grapher-okmark{
  position: absolute;
  width: 43px;
  top: 17px;
  right: 14px;
}

.grapher-thumbnail{
  margin-bottom: 25px;
}

.grapher-thumbnail img{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover; 
}

.grapher-cap{
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 14px;
}

.grapher-cap img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.grapher-name{
  font-size: 20px;
  font-weight: bold;
}

.grapher-base-wrap{
  display: flex;
}

.grapher-base-title{
  font-weight: bold;
}

.grapher-base li{
  display: inline-block;
  background: #797979;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
}

.grapher-block{
  margin-bottom: 50px;
}

.grapher-block-title{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 14px;
}

.genre-list{
  display: flex;
}

.genre-list .genre-cap{
  position: relative;
  width: 80px;
  height: 80px;
  overflow: hidden;
  margin-bottom: 5px;
  margin-right: 14px;
}

.genre-list .genre-cap img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.genre-name{
  font-size: 13px;
  font-weight: bold;
}

/*詳細*/
.grapher-photos{
  height: 60vh;
}
.grapher-photos img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grapher-inner{
  margin-top: -20px;
  position: relative;
  padding: 14px 14px 80px 14px;
  border-radius: 10px 10px 0 0;
  width: 100%;
  background-color: #fff;
}

.grapher-okmark{
  position: absolute;
  width: 43px;
  top: 17px;
  right: 14px;
}

.grapher-thumbnail{
  margin-bottom: 25px;
}

.grapher-thumbnail img{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover; 
}

.grapher-cap{
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 14px;
}

.grapher-cap img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grapher-name{
  font-size: 20px;
  font-weight: bold;
}

.grapher-base-wrap{
  display: flex;
}

.grapher-base-title{
  font-weight: bold;
}

.grapher-base li{
  display: inline-block;
  background: #797979;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
}

.grapher-block{
  margin-bottom: 50px;
}

.grapher-block-title{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 14px;
}

.genre-list{
  display: flex;
}

.genre-list .genre-cap{
  width: 80px;
  height: 80px;
  overflow: hidden;
  margin-bottom: 5px;
  margin-right: 14px;
}

.genre-list .genre-cap img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.genre-name{
  font-size: 13px;
  font-weight: bold;
}

.dm-btn-wrap{
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #fff;
  z-index: 100;
  padding: 10px 0;
  text-align: center;
}

.btn--dm{
  margin: 0 auto;
  padding: 14px 0;
  border-radius: 8px;
  background-color: #1da1f2;
  font-size: 14px;
  width: 90%;
}

.btn--dm:after{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8%;
  content: "";
  width: 25px;
  height: 21px;
  background: url(../img/twitter_only.svg) no-repeat;
  background-size: cover;
}


